* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.wrapper {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

input, label {
    margin: 0 1%;
}

#canvas {
    background: rgba(206, 198, 248, 0.637);
}